<link rel="stylesheet" href="css/checkout.css">
<section class="checkout-page">
  <aside class="box cart-container">
    <div class="box__heading">
      <span>1</span>
      <h2>giỏ hàng</h2>
    </div>
    <ul class="cart">
      {{#each itemList}}
      <li class="cart__item">
        <div class="item__image">
          <a href="/{{this.optionID.item.type}}/{{this.optionID.slug}}-{{this.optionID.detail}}">
            <img src="{{this.optionID.color.[0].image}}">
          </a>
        </div>
        <div class="item__detail">
          <h2 class="detail__product-name">
            {{this.optionID.item.name}}
          </h2>
          <div class="detail__item-price">{{currentChange this.optionID.color.[0].price}}</div>
          <ul class="detail__product-options">
            <li class="RAM">
              RAM: {{this.optionID.detail}}
            </li>
            <li class="color">
              Màu: {{this.color}}
            </li>
          </ul>

          <div class="detail__quantity">
            <button class="increase-item"><i class="fal fa-minus"></i></button>
            <input name="quantity" type="number" size="4" maxlength="12" min="0" value="{{this.num}}">
            <button class="decrease-item"><i class="fal fa-plus"></i></button>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="order ">
      <dl class="order__summary sub-total">
        <dt class="order__summary--label">giỏ hàng</dt>
        <dd class="order__summary--decription">{{currentChange subTotal}}</dd>
      </dl>
      <dl class="order__summary shipping-fee">
        <dt class="order__summary--label">phí vận chuyển</dt>
        <dd class="order__summary--decription">{{currentChange 30000}}</dd>
      </dl>
    </div>
    <div class="total">
      <dl class="order__summary">
        <dt class="order__summary--label">tổng cộng</dt>
        <dd class="order__summary--decription">{{currentChange total}}</dd>
      </dl>
    </div>
  </aside>
  <div class="box delivery-info">
    <div class="box__heading">
      <span>2</span>
      <h2>thông tin vận chuyển</h2>
    </div>
    <div class="user-information">
      <h2 class="greeting">xin chào {{firstName userInfo.name}}</h2>
      <h3 class="sub-heading">hãy chắc chắn rằng thông tin vận chuyển của bạn là chính xác</h3>
      <form method="POST" action="">
        <div class="form-group">
          <input type="text" id="fullName" value="{{userInfo.name}}" placeholder=" ">
          <label for="fullName">họ và tên</label>
        </div>
        <div class="form-group">
          <input type="tel" id="phoneNumber" value="{{userInfo.phone}}" placeholder=" ">
          <label for="phoneNumber">số điện thoại</label>
        </div>
        <div class=" form-group">
          <input type="text" id="provice/city" value="{{userInfo.address.[0]}}" placeholder=" ">
          <label for="provice/city">tỉnh/thành phố
          </label>
        </div>
        <div class="form-group">
          <input type="text" id="district" value="{{userInfo.address.[1]}}" placeholder=" ">
          <label for="district">quận/huyện
          </label>
        </div>
        <div class="form-group">
          <input type="text" id="sub-district" value="{{userInfo.address.[2]}}" placeholder=" ">
          <label for="sub-district">phường/xã
          </label>
        </div>
        <div class="form-group">
          <input type="text" id="house-number" value="{{userInfo.address.[3]}}" placeholder=" "
            placeholder=" Nhập số nhà, toà nhà, tên đường" aria-describedby="home-number-help">
          <label for="house-number">số nhà, toà nhà, tên đường
          </label>
          <small id="home-number-help">VD: 24 Toà nhà 3 Dương Kỳ Hiệp</small>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
<script src="/js/checkout.js"></script>