<link rel='stylesheet' href='/css/detailItem.css' />
<link rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css' />
<div class='detailItem-container'>
	<ul class='path'>
		<li>
			<a href='/'>
				<i class='fas fa-home path-icon-home'></i>
				<span>Trang Chủ</span>

			</a>
		</li>
		{{#each path}}
		<li>
			<i class='fas fa-greater-than path-icon-next'></i>
		</li>
		<li>
			<a href={{this.href}}>

				<span>{{this.name}}</span>

			</a>
		</li>
		{{/each}}

	</ul>
	<div class='detailItem-main-container'>
		<p class='item-name'>{{item.name}}</p>
		<div class='detailIitem-main row'>

			<div class='detailItem-img col-4'>

				<div class='swiper-container'>
					<div style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff'
						class='swiper mySwiper2'>
						<div class='swiper-wrapper'>
							{{#each item.image}}
							<div class='swiper-slide'>
								<img src={{this}} />
							</div>
							{{/each}}
						</div>
						<div class='swiper-icon-prev'>
							<i class='fas fa-less-than'></i>
						</div>
						<div class='swiper-icon-next'>
							<i class='fas fa-greater-than'></i>
						</div>

					</div>

					<div thumbsSlider='' class='swiper mySwiper'>
						<div class='swiper-wrapper'>
							{{#each item.image}}
							<div class='swiper-slide'>
								<img src={{this}} />
							</div>
							{{/each}}
						</div>
					</div>

				</div>
			</div>
			<!-- start option -->
			<div class='detailItem-option col-4'>
				{{! start price}}
				<p class='price-container'>
					<span class='new-price'></span>
					<span class='old-price'></span>
				</p>
				{{! end price}}
				{{! start capacity-option}}
				<ul class='capacity-option' data={{idOption}}>
					{{#each options}}
					{{#if (foo this.detail ../capacity)}}
					<li>
						<a href='/phone/{{this.slug}}-{{this.detail}}' class='capacity-option-item active'>
							<p class='capacity-option-detail'>{{this.detail}}</p>
							<p class='capacity-option-price'>{{currentChange this.color.0.price}}
							</p>
						</a>

					</li>
					{{else}}

					<li>
						<a href='/{{../item.type}}/{{this.slug}}-{{this.detail}} ' class ='capacity-option-item'>
							<p class='capacity-option-detail'>{{this.detail}}</p>
							<p class='capacity-option-price'>{{currentChange this.color.0.price}}
							</p>
						</a>

					</li>
					{{/if}}

					{{/each}}

				</ul>
				{{! end capacity-option}}
				{{! start color-option}}
				<div class='color-option'>
					<p style='margin-bottom: 10px; font-weight: bold;'>Chọn Màu </p>
					<ul class='color-detail row'>
						{{#each color}}
						<li>
							<a class='color-detail-item row' stock="{{this.number}}">
								<div class='col-3 row'>
									<img class='color-detail-item-img' src=" {{this.image}}"
										alt="color {{this.name}}" />
								</div>
								<p>
									<strong class='color-detail-item-color'>{{this.name}}</strong>
									<span class='color-detail-item-price'>{{currentChange this.price}}</span>
								</p>
							</a>
						</li>
						{{/each}}

					</ul>

				</div>
				{{! end color-option}}
				<button class='buy-button'>Mua Ngay</button>
			</div>
			<!-- end option -->
			<div class='detailItem-about col-4'>

				<div>
				<div class='technicalInfo'>

					<p class='TechnicalInfo-title'>Thông Số Kĩ Thuật</p>
					<ul class='technicalInfo-list'>
						{{#each demoinfo }}
						{{#if (isEven @index) }}
						<li class='technicalInfo-item br-gray '>
							<p>{{this.infoName}}</p>
							<p>{{this.infoNum}}</p>
						</li>
						{{else}}
						<li class='technicalInfo-item '>
							<p>{{this.infoName}}</p>
							<p>{{this.infoNum}}</p>
						</li>
						{{/if}}
						{{/each}}


					</ul>
					<button class='technicalInfo-btn'>Xem Cấu Hình Chi Tiết</button>
					<div class="modal-container">
						<div class="modal">
							<div class="modal-title">
								<p>Thông số kỹ thuật</p>
								<button>
									<i class="far fa-times-circle"></i>
									<span>Đóng</span>
								</button>
							</div>

							<div class="modal-main ">
								{{#each item.techInfo}}
								<div class="modal-main-item">
									<p class='TechnicalInfo-title'>{{this.infoType}}</p>


									<ul class='technicalInfo-list'>
										{{#each this.infoDetail}}
										{{#if (isEven @index) }}
										<li class="technicalInfo-item br-gray">
											<p>{{this.infoName}}</p>
											<p>{{this.infoNum}}</p>
										</li>
										{{else}}
										<li class="technicalInfo-item ">
											<p>{{this.infoName}}</p>
											<p>{{this.infoNum}}</p>
										</li>
										{{/if}}
										{{/each}}
									</ul>

								</div>
								{{/each}}
								<button class="modal-close-btn">
									<i class="far fa-times-circle"></i>
									<span>Đóng</span>
								</button>
							</div>

						</div>

					</div>
				</div>

			</div>
			</div>

		</div>

	</div>
	<div class='detailItem-sub'>
		{{! start same items }}
		<div class="same-item">
			<p class='same-item-title'>Sản Phẩm Tương Tự</p>
			<div class="swiper mySwiper3">
				<div class="swiper-wrapper">
					{{#each sameItem}}
					<div class='swiper-slide'>
						<div class="swiper3-slide-item">
							<a href='#' class="sameItemImg">
								<img src="{{this.options.0.color.0.image}}"  />
							</a>

							<div class="slide-item-info">
								<a href="#" class="swiper3-item-name">{{this.name}}</a>
								<p>
									<span class="swiper3-item-newPrice">{{currentChange this.options.0.color.0.price}}</span> <span
										class="swiper3-item-oldPrice">24.990.000 ₫</span>
								</p>
							</div>

						</div>

					</div>
					{{/each}}

				</div>

				<div class='same-swiper-icon-prev'>
					<i class='fas fa-less-than'></i>
				</div>
				<div class='same-swiper-icon-next'>
					<i class='fas fa-greater-than'></i>
				</div>

			</div>

		</div>


		{{! end same items }}

	</div>

	<!-- Swiper JS -->
	<script src='https://unpkg.com/swiper/swiper-bundle.min.js'></script>

	<!-- Initialize Swiper -->

	<script src='/javs/detailItem.js'></script>

</div>