<link rel="stylesheet" href="/css/search.css" />
<section class="section products">
    <div class="products-layout container">
        {{!-- <div class="filter">

        </div> --}}
        <p class="numProduct">Đã tìm thấy <strong id="count"></strong> kết quả</p>
        <div class="list-products">
            {{! <form action="">
                <div class="item">
                    <label for="sort-by">Sắp xếp theo</label>
                    <select name="sort-by" id="sort-by">
                        <option value="title" selected="selected">Tên</option>
                        <option value="number">Giá</option>

                    </select>
                    <div class="item">
                        <label for="order-by">Thứ tự</label>
                        <select name="order-by" id="sort-by">
                            <option value="ASC" selected="selected">Thấp đến cao</option>
                            <option value="DSC" selected="selected">Cao xuống thấp</option>
                        </select>
                    </div>
                </div>
            </form> }}
            <div class="product-layout">
                {{#each items}}
                <div class="product" id="countProduct">
                    <div class="img-container">
                        <a href="phone/{{this.slug.[0].slug}}-{{this.slug.[0].detail}}">
                            <img src="{{this.image.[0]}}" alt="picture about mobile phone" />
                        </a>


                        {{! <div class="addCart">
                            <i class="fas fa-shopping-cart">

                            </i>

                        </div>
                        <div class="heart">
                            <i class="far fa-heart"></i>
                        </div> }}
                    </div>
                    <div class="info-product">
                        <div class="product-name">
                            <a href="/phone">
                                <h3>{{this.name}}</h3>
                            </a>
                        </div>
                        {{!-- <div class="rom">

                            <div class="item  " onclick="ChangeRom('{{this.name}}',this)">
                                <strong>64GB </strong>
                            </div>
                            <div class="item" onclick="ChangeRom('{{this.name}}',this)">
                                <strong>128GB</strong>
                            </div>
                            <div class="item active" onclick="ChangeRom('{{this.name}}',this)">
                                <strong>256GB</strong>
                            </div>

                        </div> --}}
                        <div class="price">
                            <span>{{currentChange this.slug.[0].color.[0].price}}</span>
                        </div>
                        <div class="config">
                            <div class="config-param">
                                <span data-title="CPU">

                                    <p>
                                        <i class="fad fa-microchip"></i>
                                        {{this.techInfo.[2].infoDetail.[0].infoNum}}
                                    </p>
                                </span>
                                <span data-title="Màn hình">

                                    <p>
                                        <i class="fad fa-mobile"></i>
                                        {{this.techInfo.[0].infoDetail.[0].infoNum}}
                                    </p>
                                </span>
                                <span data-title="RAM">

                                    <p>
                                        <i class="fad fa-memory"></i>
                                        {{this.techInfo.[3].infoDetail.[0].infoNum}}
                                    </p>
                                </span>

                                <span data-title="ROM">
                                    <p>
                                        <i class="fad fa-compact-disc"></i>
                                        {{this.slug.[0].detail}}


                                    </p>
                                </span>

                            </div>
                        </div>
                        <div class="product-btn">
                            <a href="#" class="btn btn-buy btn-sm">
                                <p>MUA NGAY</p>
                            </a>
                            <a href="#" class="btn btn-addCart btn-sm">
                                <p>THÊM VÀO GIỎ</p>
                            </a>
                        </div>
                    </div>

                </div>
                {{/each}}
            </div>
            <ul class="pagination">
                <span>1</span>
                <span>2</span>
                <span class="icon">...</span>
                <span class="last">Last</span>
            </ul>
        </div>
    </div>
    <script src='/js/search.js'></script>
</section>